#loginForm {
    display: flex;
    border: black solid 3px;
    justify-content: center;
}

#formButtons {
    margin-top: 5vh;
}

.button {
    border: black solid 3px;
    margin-top: 2vh;
}

.bigText {
    font-size: 6vw;
}

.bigSize {
    width: 450px;
    height: 50px;
    border: black solid 5px;
    font-size: 50px;
}
