body {
    background-image: linear-gradient(lightblue, lightgreen);
}

#loadingImage {
    margin-left: 15vw;
    margin-top: 10vh;
    width: 60vw;
}

#messageList {
    height: 62vh;
    overflow: scroll;
    padding-left: 2vw;
    padding-right: 2vw;
    border: solid black 4px;
    background-color: grey;
}

#message {
    margin-top: 2vh;
    margin-left: 8vw;
    margin-right: 4vw;
}

#backButtonDiv {
    background-image: linear-gradient(lightblue, lightgreen);
    margin-bottom: -10px;
}

#backButton {
    width: 15vw;
}

.userContainer {
    text-align: center;
}

.pointContainer {
    text-align: center;
    font-size: 3vw;
}

.imgStyle {
    margin-left: 7vw;
    border-radius: 200px;
    width: 200px;
}

.card {
    border: black solid 2px;
    font-size: 5vw;
    width: 35vw;
    white-space: pre-wrap;
    margin-top: 2vh;
    padding: 10px 5px 10px 10px;
    background-color: white;
    border-radius: 50px;
}

.flexContainer {
    display: flex;
    padding-bottom: 4vh;
}

.right {
    margin-left: 55vw;
}

.left {
    margin-left: 5vw;
}

.bigText {
    font-size: 6vw;
}

.bigSize {
    width: 550px;
    height: 68px;
    border: black solid 5px;
    font-size: 50px;
}

.button {
    border: black solid 3px;
    margin-top: 2vh;
}

.adminCard {
    background-color: lightblue;
}