body {
    background-color: #93BFC6;
}

#loadingImage {
    margin-left: 15vw;
    margin-top: 10vh;
    width: 60vw;
}

#messageList {
    height: 62vh;
    overflow: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    border: solid black 4px;
    background-color: grey;
}

#message {
    margin-top: 2vh;
    margin-left: 8vw;
    margin-right: 4vw;
}

#backButtonDiv {
    margin-bottom: -10px;
}

#backButton {
    width: 15vw;
}

#profilePreview {
    display: none;
    position:absolute; 
    top: 15vh;
    left: 12.5vw;
    height: 50vh;
    font-size: 10vw; 
    background-color: white;
    border: solid black 3px;
    width: 75vw;
}

#profileFlexContainer {
    margin-top: 5vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#profileUser {
    font-size: 6vw;
}

#profilePoints {
    font-size: 5vw;
}

#profilePic {
    width: 45vw;
}

.userContainer {
    text-align: center;
}

.pointContainer {
    text-align: center;
    font-size: 3vw;
}

.imgStyle {
    margin-left: 7vw;
    border-radius: 200px;
    width: 200px;
}

.card {
    border: black solid 2px;
    font-size: 5vw;
    white-space: pre-wrap;
    margin-top: 2vh;
    padding: 10px 5px 10px 10px;
    background-color: white;
    border-radius: 50px;
}

.flexContainer {
    display: flex;
    padding-bottom: 4vh;
}

.right {
    margin-left: 55vw;
}

.left {
    margin-left: 5vw;
}

.bigText {
    font-size: 6vw;
}

.bigSize {
    width: 550px;
    height: 68px;
    border: black solid 5px;
    font-size: 50px;
}

.button {
    border: black solid 3px;
    margin-top: 2vh;
}

.adminCard {
    background-color: lightblue;
}

@-webkit-keyframes scaleUp {
    from {width: 200px;} 
    to {width: 500px;}
}

@-webkit-keyframes scaleDown {
    from {width: 500px;} 
    to {width: 200px;}
}

@-webkit-keyframes widenCard {
    from {width: 35vw;} 
    to {width: 90vw;}
}

@-webkit-keyframes shrinkCard {
    from {width: 90vw;} 
    to {width: 35vw;}
}

@-webkit-keyframes leftToRight {
    from {margin-left: 5vw;}
    to {margin-left: 55vw;}
}

@-webkit-keyframes rightToLeft {
    from {margin-left: 55vw;}
    to {margin-left: 5vw;}
}