#mainHTML {
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: linear-gradient(lightblue, lightgreen);
}

#titleText {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: -2vh;
    font-size: 8vw;
    border: black solid 5px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-image: linear-gradient(white, grey);
}

#mainImg {
    margin-top: 6vh;
    margin-left: 15vw;
}

.cardList {
    display: flex;
    margin-top: 7vh;
}

.horizontalFlex {
    flex-direction: row;
}

.verticalFlex {
    flex-direction: column;
    justify-content: space-around;
}

.card {
    display: flex;
    border: black solid 4px;
    padding: 50px;
    font-size: 1vw;
    white-space: nowrap;
    margin-left: 6vw;
    margin-top: 7vw;
    width: 35vw;
    justify-content: center;
    border-radius: 150px;
    box-shadow: 10px 10px 5px grey;
    background-image: linear-gradient(white, grey);
}

.card:active {
    background-image: linear-gradient(grey, grey);
}

.addButton {
    display: flex;
    justify-content: center;
    padding: 50px;
    border: black solid 4px;
    font-size: 1vw;
    white-space: nowrap;
    border-radius: 150px;
    box-shadow: 10px 10px 5px grey;
    background-image: linear-gradient(white, grey);
    margin-top: 3vh;
    margin-left: 28vw;
}

.addButton:active {
    background-image: linear-gradient(grey, grey);
}

.cardWords {
    justify-content: center;
    font-size: 3vw;
}

